/project/Libraries/DroidPlugin/gen
/project/Libraries/DroidPlugin/bin
/project/Test/ApiTest/gen
/project/Test/ApiTest/bin
/project/TestPlugin/gen
/project/TestPlugin/bin
/project/TestPlugin/.idea
/project/TestPlugin/gradle/*
/project/TestPlugin/gradlew
/project/TestPlugin/gradlew.bat
/project/TestPlugin/local.properties
/project/gradle
/project/.gradle
/project/.idea
/project/build
/project/local.properties
/happy_chinese_new_year_of_monkey
bin/
build/
.gradle/
obj/
gen/
*.iml
.idea/*
/project/Libraries/DroidPlugin/*.properties
*.properties
gradle
gradlew
gradlew.bat
.project
.classpath
/projectFilesBackup/.idea
